h2
  | 注册
.row
  .col-sm-4
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form',class: 'form-horizontal'}) do |f|
      = devise_error_messages!
      .form-group.form-group-lg
        = f.label :Email, :class=>'col-sm-4 control-label'
        .col-sm-8
          = f.email_field :email, autofocus: true, :class=>'form-control input-lg'
      .form-group.form-group-sm
        = f.label :Password, :class=>'col-sm-4 control-label'
        - if @validatable
          - holder='最短%s个字符' %[@minimum_password_length]
        - else
          - holder=''
        .col-sm-8
          = f.password_field :password, autocomplete: "off",  :class=>'form-control', :placeholder=>holder
      .form-group
        = f.label :密码确认, :class=>'col-sm-4 control-label'
        .col-sm-8
          = f.password_field :password_confirmation, autocomplete: "off",:class=>'form-control'
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit "注册", :class=>'btn btn-default'
    = render "devise/shared/links"
