s.row
  .col-sm-offset-4.col-sm-4
    .col-sm-offset-6
      h2
        | 登陆
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form',class: 'form-horizontal'}) do |f|
      .form-group.form-group-lg
        = f.label :邮箱, :class=>'col-sm-4 control-label', :style=>'font-size:150%'
        .col-sm-8
          = f.email_field :email, autofocus: true, :class=>'form-control input-lg'
      .form-group.form-group-sm
        = f.label :密码, :class=>'col-sm-4 control-label', :style=>'font-size:150%'
        .col-sm-8
          = f.password_field :password, autocomplete: "off",  :class=>'form-control'
      - if devise_mapping.rememberable?
        .form-group
          .col-sm-offset-4.col-sm-8
            = f.check_box :remember_me
            = f.label :remember_me
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit "登陆", :class=>'btn btn-default'
    = render "devise/shared/links"

