footer
  .container
    .row
      .col-md-4
        | &copy;2014
      .col-md-4
        ul.nav.nav-pills
          li
            a href='#' 
              | About Us
          li
            a href='#' 
              | Privacy Policy
      .col-md-4
        h4.text-right
          | 算法改变世界
