.navbar.navbar-wrapper.navbar-fixed-top.navbar-default role='navigation' 
  .container
    .navbar-header
      a.navbar-brand href="#" 
        | 商品基因
    .collapse.navbar-collapse.navbar-ex1-collapse
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            =link_to "商品分类", "#"
          li
            =link_to "词典更新", "#"
          li
            =link_to "common", "/common/index"
          li.dropdown
            a.dropdown-toggle href="#"role="button"data-toggle="dropdown" 
              | 目录
              b.caret
            ul.dropdown-menu role="menu" 
              li
                =link_to "统计", "/commerce/commodity_statistic/statistic"
              li.divider
              li.dropdown-submenu
                a href='#'
                  | 更多
                ul.dropdown-menu
                  li
                    =link_to "内容", "#"

        / ul.nav.navbar-nav.navbar-right
        p.navbar-text.pull-right
          - if audit_user_signed_in?
            |  欢迎 &nbsp;&nbsp
            strong
              = current_audit_user.email
            | . 
            = link_to '修改资料', edit_audit_user_registration_path, :class => 'navbar-link'
            |  | 
            = link_to "退出", destroy_audit_user_session_path, method: :delete, :class => 'navbar-link'
          - else
            = link_to "注册", new_audit_user_registration_path, :class => 'navbar-link'
            |  | 
            = link_to "登陆", new_audit_user_session_path, :class => 'navbar-link'

        / ul.nav.navbar-nav.navbar-right
        /   li.active
        /     a href='#' 
        /       | 咨询
        /   li
        /     =link_to "帮助", "#"
        /   ul.dropdown-menu
        /     li
        /       a href='#' Cancel
        /     li
        /       a href='#' Confirm
        / form.navbar-form.navbar-right role='search' 
        /   .form-group
        /     input.form-control type='text'placeholder='Search' 
        /   button.btn.btn-default
        /     | Submit
